~$*
data/**/*.pk


data/MSL_Combined/
data/SMAP_Combined/
data/SMD_Combined/

data/SMAP_MSL/test/
data/SMAP_MSL/train/
data/SMAP_MSL/*.csv
data/SMD/**/*.txt

data/WADI/*.csv
data/WADI/*.pdf
data/WADI/*.pk

data/PSM/
# data/SWAT/*.npz
# data/SWAT/*.npy

.ipynb_checkpoints/
.spyproject/
__pycache__/
/**/__pycache__
/**/__init__.py

logs/Tuning/
logs/**/*.err
# logs/**/*.log

misc/*.xlsx
outputs/data_outputs/
outputs/Anomaly_HyperParam_Search/
outputs/p_value_meeting_purpose/

Results/all_results_backup_4_5_2026/
Results/all_results_backup_4_5_2026/
scripts/config/misc/
scripts/tuning/

checkpoints/
checkpoints_record/
Ablation_study/
custom/
